POSTGRES_HOST=localhost
POSTGRES_DB=crypto_flow
POSTGRES_USER=crypto
POSTGRES_PASSWORD=

APP_ENV=dev
LOG_LEVEL=INFO

BINANCE_BASE_URL=https://api.binance.com/api/v3
BINANCE_SYMBOLS=["BTCUSDT","ETHUSDT","BNBUSDT","SOLUSDT"]
BINANCE_LIMIT=1000